* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/body-bg.png");
}

.main-header {
    display: flex;
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 100%;
    height: auto;
    padding: 10px;
}

.main-header__brand {
    background-color: #4aaaa5;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

.main-header-col1 {
    width: 35%;
}
.main-nav {
    width: 60%;

    margin: auto;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #cccccc;
    padding: 3px 0;
}

.side-borders{
    border-right: 2px solid #cccccc;
    border-left: 2px solid #cccccc;
    padding: 0 35px 0 35px;
}

.main-nav__item a:hover,
.main-nav__item a:active{
    color: orange;
    border-bottom: 5px solid orange;
}


.main-header-col1 a:hover{
    border-bottom: 5px solid orange;
}

.main-image-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.main-image-container a:hover {
    color: rgb(0, 255, 136);
    border-bottom: 5px solid orange;
}


h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px;
}

.content {
    background-color: white;
    padding: 20px;
    border: 1px solid #dddddd;
    width: 75%;
    margin: 20px auto 150px auto;
}
p {
    padding-bottom: 15px;
}

.main-header-content {
    width: 960px;
    background-color: white;
    margin: 20px 50px 20px auto;
}

.border{
    border: 3px solid #dddddd;
}

.raj-img{
    float: left;
    margin-right: 20px;
}

.clearfix{
    overflow: auto;
    line-height: 30px;
    padding-top: 30px;
    text-align: justify;
}

.clearfx{
    clear: both;
}

footer{
    background-color: #dad6d6c9;
    text-align: center;
    padding: 30px;
    border-top: #4aaaa5 5px solid;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
  }

  form{
      line-height: 35px;
      padding: 20px;
  }

  #email-submit-btn{
      background-color: #4aaaa5;
      padding: 15px;
      width: 150px;
      color: white;
      font-size: 15px;
      border-radius: 5px;
      box-shadow: 2px 2px #a3dad8;
  }


 .text {
    position: relative;
    text-align: center;
    bottom: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    background: #4aaaa5;
    padding: 10px 7px 45px 7px;
    margin: 20px;
    color:white;
    text-transform: uppercase;
    font-size: 15px;
    width: 200px;
    height: 40px;
  }


  .image-container__col{
      width: 290px;
      height: 290px;
      border: #cccccc solid 2px;
      margin: 10px;
  }

  .main-image-container a{
      text-decoration: none;
  }

  .currentLink a {
    font-size: 125%;
    color: #666666;
    border-bottom: orange solid 3px;
 }


 /*
 media queries starts here
 */
@media only screen  and (max-width: 360px){
    .main-header-col1{
        display: block;
        width: 100%;
    }
    .main-header-col1 a{
        display: block;
        text-align: center;

    }
    .main-nav{
        width:110%;
        text-align:center;
        margin: 5px 20px 0 5px;
        padding:0;
    }
    .side-borders {
        border-right: 2px solid #cccccc;
        border-left: 2px solid #cccccc;
        padding: 0 20px 0 17px;
    }

    .main-header{
        display:block;

    }
    .content{
        width:95%;
        margin-bottom: 50px;
    }


}


@media only screen and (min-width: 361px) and (max-width: 640px){
    .main-header-col1{
        display: block;
        width: 100%;
    }
    .main-header-col1 a{
        display: block;
        text-align: center;

    }
    .side-borders {
        border-right: 2px solid #cccccc;
        border-left: 2px solid #cccccc;
        padding: 0 20px 0 17px;
    }
    .main-nav{
        width:100%;
        text-align:center;
        margin: 15px 0 0 15px;
        padding:0;
    }
    .main-header-content{
        width:100%;
        display:block;
        margin: 0 auto 20px auto;
        padding: 0px;
    }
    .main-header{
        display:block;
    }
    .content{
        width:85%;
        margin-bottom: 50px;
    }

    .main-image-container{
        display: block;
        width: 100%;
    }

    .image-container__col {
        margin: auto;
        margin-bottom: 20px;
        align-self: center;

    }

}

@media only screen and (min-width: 641px) and (max-width: 768px){
    .main-image-container{
        display: block;
        text-align: center;
    }

    .image-container__col {
        display: inline-block;
        margin:3px;
        width: 235px;
        height: 240px;
    }

    .image{
        width:100%;
        height:auto;
        max-width: 235px;
    }

    .content{

        margin-bottom: 200px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 980px){
    .content {
        width:90%;
        margin: auto;
        margin-bottom: 150px;
    }


    .main-image-container{
        display: block;
    }

    .image-container__col {
        display: inline-block;
        margin:3px;
        width: 300px;
    }

    figure.image{
        height:auto;
        width: 300px;
    }

    .text {
        top: 0%;
      }

}
@media only screen and (min-width: 980px){

    .content {
        width: 80%;
        margin: 20px auto 150px 73px;
    }

    .main-header-content {
        margin: 20px;
    }

    .main-nav {
        width: 100%;
        text-align: right;

    }


    /* .main-image-container{
        display: block;
    } */

    .image-container__col {
        display: inline-block;
        margin-left: 20px;
        width: 220px;
    }

    .image{
        width:100%;
        height:auto;
        max-width: 235px;
    }

    .text {
        top: 0%;
      }
}